{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Questão</title>
  <link rel="stylesheet" href="{% static 'simulado/simulado.css' %}">
</head>
<body>

<div class="wrap">
  <h2>Questão {{ idx|add:1 }} de {{ total }}</h2>
  <p class="muted"><strong>{{ questao.modulo.nome }}</strong></p>

  <div class="card">
    <p class="qtext">{{ questao.enunciado }}</p>

    {% if questao.imagem_arquivo %}
      <img
        class="qimg"
        src="{% static 'placas/' %}{{ questao.imagem_arquivo }}"
        alt="Imagem da questão"
        onerror="this.style.display='none';"
      >
    {% endif %}

    <form method="post" action="{% url 'simulado:responder' %}">
      {% csrf_token %}
      <div class="answers">
        {% for a in alternativas %}
          <div class="ans">
            <label>
              <input type="radio" name="alternativa_id" value="{{ a.id }}" required>
              {{ a.texto }}
            </label>
          </div>
        {% endfor %}
      </div>

      <button class="btn" type="submit">Responder</button>
    </form>
  </div>
</div>

</body>
</html>
